
<div class="container-fluid">
  <div class="row">
      <div class="col-lg-3 col-xs-6">
          <div class="form-group">
              <label for="sel1">Ville:</label>
              <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
      </div>
      <div class="col-lg-3 col-xs-6">
          <div class="form-group">
              <label for="sel1">Specialite:</label>
              <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
      </div>
      <div class="col-lg-3 col-xs-6">
          <div class="form-group">
              <label for="sel1">Medecin:</label>
              <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
      </div>
  </div>
</div>
